@import "./layout/index";
@import "./home/index";
@import "./sidebar/index";
@import "./post/index";
@import "./components/index";

body * {
  font-size: 1rem;
  line-height: 2rem;

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }
}
