.PostTableOfContents {
  padding: 24px;

  .Label {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }

  .TocItem {
    cursor: pointer;
  }

  .TOC-heading_2 {
    font-size: 1rem;
  }

  .TOC-heading_3 {
    font-size: 0.875rem;
    margin-left: 1rem;
  }
}

